AnomalyLauncher.cfg
AnomalyLauncher.exe
appdata/
bin/
commandline.txt
db/
default-44100.mhr
default-48000.mhr
description.jsgme
DO_NOT_INSTALL_OLD_ADDONS
fsgame.ltx
igi_tasks/
JSGME.exe*
JSGME.ini
JSGME.lng
MODS/
tools/
gamedata/*

!gamedata/configs
!gamedata/scripts